*
{
    box-sizing: border-box;
}
body
{
    display:flex;
    background-image: url("image.jpg");
    background-color:#cccccc;
    align-items: center;
    justify-content: center;
    margin:0;
    min-height: 100vh;
}
.quiz_container
{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    max-width: 100%;
}
.quiz_header
{
    padding: 2rem;
}
ul
{
    list-style-type:none;
    padding:0;   
}
ul li
{
    margin:1rem 0;
}
button
{
    background-color: rgb(0, 45, 128);
    color:white;
    display: block;
    width:100%;
    font-size: 1.5rem;
    border: none;
}
button:hover
{
    background-color: rgb(121, 38, 36);
}